body {
	background-image: url(http://www.kucuu.com/desktop-wallpaper-home/Cosmic-Space-HD-desktop-wallpaper-1920x1080.jpg); /* En bakgrundsbild som länkats till sidan */
	background-repeat: no-repeat;

} 
header {
	width: 100%;
	height: 50px;
}
nav {
	float: right; /* Låter elementet flyta på högra delen utav websidan */
	display: block;
	width: 700px;
}
nav li {
	font-size: 18px;
	display: inline-block;
	float: right;
	margin: 0 20px 0 15px;
	position: relative;
}
nav li a {
	text-decoration: none;
	-webkit-transition width 2s height 4s; /* Webkit som får Navigations-baren att "Flyta" */
	transition: color .5s ease .0s, font-size 0.8s ease 0s; /* Hur snabbt Nav-baren Flyter */
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Lobster', cursive; /* Font från nätet */
}
.container {
	width: 570px;
	height: 500px;
	display: block;
	text-align: center;
	position: static; ;
	margin: 9% auto 0 auto;
	padding: 12% auto 0 auto;
	font-family: 'Kaushan Script', cursive; /* Font från nätet */
}
nav li a:hover { /* Här anges vad som skall ske när man drar musen över Nav-baren */
	font-size: 35px;
	color:orange;
}
#text{
	font-size: 50px;
	color: rgb(207, 250, 241);
}

#text:hover {
	color: orange;
}