.Index{
	background-image: url(../files/IndexWallpaper.jpg); /* En bakgrundsbild som länkats till sidan */
	background-repeat: no-repeat; /* Får bakgrunden att inte repetera sig. Alltså endast 1 bild! */
	background-size:cover;
} 
.Index header {
	width: 100%;
	height: 50px;
}
.Index nav {
	float: right; /* Låter elementet flyta på högra delen utav websidan */
	display: block;
	width: 700px;
}
.Index nav li {
	font-size: 18px;
	display: inline-block;
	float: right;
	margin: 0 20px 0 15px;
	position: relative;
}
.Index nav li a {
	text-decoration: none;
	transition: color .5s ease .0s, font-size 0.8s ease 0s; /* Detta kommando deklarerar hur snabbt Nav-baren "Flyter" */
	color: yellow;
	text-shadow: 2px 2px 2px black; /* Skuggning på text */
	font-family: 'Lobster', cursive; /* Font från nätet */
}
.Index nav li a:hover { /* Här anges vad som skall ske när man drar musen över Nav-baren */
	font-size: 35px;
	color:orange;
}
.Container1 {
	width: 570px;
	height: 500px;
	display: block;
	text-align: center;
	position: static; ;
	margin: 9% auto 0 auto;
	padding: 12% auto 0 auto;
	font-family: 'Kaushan Script', cursive; /* Font från nätet */
}
#MainContent1{
	font-size: 50px;
	color: rgb(207, 250, 241);
	text-shadow: 2px 2px 2px black;
	transition: color .2s ease .0s, font-size 0.8s ease 0s;
	padding: 10% 10% 10% 10%;

}

#MainContent1:hover {
	color: rgba(0,0,0,0.0);
	text-shadow: 0px 0px 0px;
	background-image: url(../files/Trollface.png);
	background-size: 180px;
	background-position: center;
	background-repeat: no-repeat;
}
.Coolasaker {
	background-image: url(../files/Coolasaker.gif);
	background-repeat: repeat;
	background-position: center;
	background-size: 500px;
}
.Coolasaker header {
	float: left; /* Låter elementet flyta på högra delen utav websidan */
	height: 500px;
	width: 350px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 35px;
}
.Coolasaker nav {
	float: left; /* Låter elementet flyta på högra delen utav websidan */
	height: 500px;
	width: 1000px;
}
.Coolasaker nav ul {
	margin: 200 0px 0px 0px;
	color:black;
}
.Coolasaker nav li {
	font-size: 30px;
	display: inherit;
	margin: 0 20px 0 15px;
	position: relative;
}
.Coolasaker nav li {
	margin: 50px 0 50px 0;
}
.Coolasaker nav li a {
	text-decoration: none;
	transition: color .1s ease .0s, font-size 0.1s ease 0s; /* Detta kommando deklarerar hur snabbt Nav-baren "Flyter" */
	color: yellow;
	text-shadow: 2px 2px 2px black; /* Skuggning på text */
	font-family: 'Lobster', cursive; /* Font från nätet */

}
.Coolasaker span a:hover { /* Här anges vad som skall ske när man drar musen över Nav-baren */
	font-size: 50px;
	color:orange;
}
#Hodor:hover {
	font-size: 80px;
}
.Container2 {
	width: 1000px;
	height: 1000px;
	position: static;
}
.Container2:hover {
	background-image: url(../files/quickscope.gif);
	background-size: 800px;
	background-repeat: no-repeat;
}
.Info {
	background-image: url(http://p1.pichost.me/i/9/1320488.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}
.Info header {
	width: 100%;
	height: 50px;
}
.Info nav {
	float: right; /* Låter elementet flyta på högra delen utav websidan */
	display: block;
	width: 700px;
}
.Info nav li {
	font-size: 18px;
	display: inline-block;
	float: right;
	margin: 0 20px 0 15px;
	position: relative;
}
.Info nav li a {
	text-decoration: none;
	transition: color .5s ease .0s, font-size 0.8s ease 0s; /* Detta kommando deklarerar hur snabbt Nav-baren "Flyter" */
	color: orange;
	text-shadow: 2px 2px 2px black; /* Skuggning på text */
	font-family: 'Lobster', cursive; /* Font från nätet */
}
.Info nav li a:hover { /* Här anges vad som skall ske när man drar musen över Nav-baren */
	font-size: 35px;
	color:yellow;
}
.Container3 {
	height: 50%;
	width: 99%;
	position: fixed;
	text-align: center;
}
.Wrapper {
	height: 500px;
	width: 500px;
	background-color: rgba(255,255,255,0.7);
	position: fixed;
	margin: 2% 0% 0% 37%;
	border-radius: 35px;
	border: 20px;
	border-color: white;
	box-shadow: 2px 2px 50px white;
	font-family: 'Poiret One', cursive;
}
#MainContent3 {
	margin: 50px;
}